/*

    Copyright (c) 2020 The ZMK Contributors

    SPDX-License-Identifier: MIT
    TODO: soft_off wake behavior
    */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

// NOT BOUGIE KEYS
// LEFT SIDE
#define LB0 0
#define LB1 1
#define LB2 2
#define LB3 3
#define LCX 4
#define LCC 14
#define LCV 24
// RIGHT SIDE
#define RB0 9
#define RB1 8
#define RB2 7
#define RB3 6
#define RCX 5
#define RCC 15
#define RCV 25

// BOUGIE KEYS
// LEFT SIDE
#define TLP 10
#define TLR 11
#define TLM 12
#define TLI 13
#define BLP 20
#define BLR 21
#define BLM 22
#define BLI 23
#define LOT 32
#define LIT 31

// RIGHT SIDE
#define TRP 19
#define TRR 18
#define TRM 17
#define TRI 16
#define BRP 29
#define BRR 28
#define BRM 27
#define BRI 26
#define ROT 33
#define RIT 34

// LAYERS
#define DEF  0
#define QWE  1
#define NAV  2
#define WIN  3
#define DESK 4
#define NUM  5
#define BT   6

// CONFIG
#define COMBO_TIMEOUT 70
#define COMBO_LAYERS DEF NAV DESK WIN NUM BT
#define STICKY_TIMEOUT 1000
#define QUICK_TAP_TIMEOUT 125
#define HOLD_TAP_TIMEOUT 195

// BEHAVIOR REDEFINITIONS

&sk {
    release-after-ms = <STICKY_TIMEOUT>;
    quick-release;
    /delete-property/ ignore-modifiers;
};

&sl {
    release-after-ms = <STICKY_TIMEOUT>;
    quick-release;
    /delete-property/ ignore-modifiers;
};

&lt {
    #binding-cells = <2>;
    bindings = <&mo>, <&kp>;
    tapping-term-ms = <HOLD_TAP_TIMEOUT>;
    quick-tap-ms = <QUICK_TAP_TIMEOUT>;
    hold-while-undecided;
};
// MAIN NODE

/ {
    combos {
        compatible = "zmk,combos";
        #include "combos.dtsi"
    };

    behaviors {
        #include "behaviors.dtsi"
    };

    macros {
        #include "macros.dtsi"
    };

    keymap {
        compatible = "zmk,keymap";
  // Keymap diagram keys use this format:
  // |-----|
  // | TAP |
  // |HOLD |
  // |-----|
  // Tab Dance is a Tap dance with the following rules:
  // 1 tap - tab
  // 2 taps - toggle qwerty layer
  // 3 taps - nothing
  // 4 taps - reset
  // 5 taps - nothing
  // 6 taps - bootloader

        bougie {
  // |------------------------------                 -------------------------------
  // | BT0 | BT1 | BT2 | BT3 | C-x |                 | C-x | BT3 | BT2 | BT1 | BT0 |
  // |     |     |     |     |     |                 |     |     |     |     |     |
  // |------------------------------                 -------------------------------
  // | TAB |  I  |  O  |  N  | C-x |                 | C-c |  N  |  O  |  I  | TAB |
  // |DANCE|     |     |     |     |                 |     |     |     |     |DANCE|
  // |------------------------------                 -------------------------------
  // | &kr |  E  |  A  |  T  | C-v |                 | C-v |  T  |  A  |  E  | &kr |
  // |     |     |     |     |     |                 |     |     |     |     |     |
  // |------------------------------------     -------------------------------------
  //                   |     |BSPC | SPC |     | SPC |BSPC | TAB |
  //                   | NAV |DESK | NAV |     | NAV |DESK |DANCE|
  //                   -------------------     -------------------
            display-name = "bou";
            bindings = <
  &bt BT_SEL 0    &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3   &bt BT_CLR     &kp LC(X)     &bt BT_SEL 3   &bt BT_SEL 2  &bt BT_SEL 1  &bt BT_SEL 0
  &tabdance       &as I         &as O         &as N          &bt BT_CLR_ALL &kp LC(C)     &as N          &as O         &as I         &tabdance
  &key_repeat     &as E         &as A         &as T          &out OUT_TOG   &kp LC(V)     &as T          &as A         &as E         &key_repeat
                                &mo NAV       &lt NAV SPC    &lt DESK BSPC  &lt DESK BSPC &lt NAV SPC    &mo NUM
            >;
        };

        qwerty {
  // |------------------------------                 -------------------------------
  // |  Q  |  W  |  E  |  R  |  T  |                 |  Y  |  U  |  I  |  O  |  P  | t
  // |     |     |     |     |     |                 |     |     |     |     |     |
  // |------------------------------                 -------------------------------
  // |  A  |  S  |  D  |  F  |  G  |                 |  H  |  J  |  K  |  L  |  ;  |
  // |     |     |     |     |     |                 |     |     |     |     |SHIFT|
  // |------------------------------                 -------------------------------
  // |  Z  |  X  |  C  |  V  |  B  |                 |  N  |  M  |  ,  |  .  |  /  |
  // |SHIFT|CTRL |LALT | GUI |     |                 |     | GUI |LALT |CTRL |SHIFT|
  // |------------------------------------     -------------------------------------
  //                   | NUM |BSPC | DEL |     | RET | SPC | TAB |
  //                   |     |     |     |     |     |     |DANCE|
  //                   -------------------     -------------------------
            display-name = "qwe";
            bindings = <
  &kp Q         &kp W        &kp E       &kp R       &kp T                         &kp Y    &kp U       &kp I           &kp O          &kp P
  &kp A         &kp S        &kp D       &kp F       &kp G                         &kp H    &kp J       &kp K           &kp L          &mt SEMI RSHIFT
  &mt Z LSHIFT  &mt X LCTRL  &mt C LALT  &mt LGUI V  &kp B                         &kp N    &mt RGUI M  &mt LALT COMMA  &mt RCTRL DOT  &mt FSLH RSHIFT
                                         &tabdance   &kp BSPC  &kp DEL    &kp RET  &kp SPC  &tabdance
            >;
        };

        nav {
  // |------------------------------                 -------------------------------
  // |     |     |     |     |     |                 |     |     |     |     |     |
  // |     |     |     |     |     |                 |     |     |     |     |     |
  // |------------------------------                 -------------------------------
  // | HOM |PG_UP|PG_DN| END |     |                 |     | HOM |PG_UP|PG_DN| END |
  // |     |     |     |     |     |                 |     |     |     |     |     |
  // |------------------------------                 -------------------------------
  // |  <- |  ↓  |  ↑  |  -> |     |                 |     | <-- |  ↓  |  ↑  |  -> |
  // |     |     |     |     |     |                 |     |     |     |     |     |
  // |------------------------------------     -------------------------------------
  //                   |     |BSPC | SPC |     | SPC |BSPC |     |
  //                   |     | WIN | NAV |     | NAV | WIN |     |
  //                   -------------------     -------------------
            display-name = "nav";
            bindings = <
  &none     &none     &none      &none      &trans    &trans  &none     &none      &none      &none
  &kp HOME  &kp PG_DN &kp PG_UP  &kp END    &trans    &trans  &kp HOME  &kp PG_UP  &kp PG_DN  &kp END
  &kp LEFT  &kp DOWN  &kp UP     &kp RIGHT  &trans    &trans  &kp LEFT  &kp UP     &kp DOWN   &kp RIGHT
                      &none      &trans     &trans    &trans  &trans    &none
            >;
        };
        windows {
            // Arrows from Nav but with Gui/Shift-Gui - move windows around the screen
            display-name = "win";
            bindings = <
  &none             &none             &none           &none              &trans    &trans  &none             &none           &none             &none
  &kp LS(LG(LEFT))  &kp LS(LG(DOWN))  &kp LS(LG(UP))  &kp LS(LG(RIGHT))  &trans    &trans  &kp LS(LG(LEFT))  &kp LS(LG(UP))  &kp LS(LG(DOWN))  &kp LS(LG(RIGHT))
  &kp LG(LEFT)      &kp LG(DOWN)      &kp LG(UP)      &kp LG(RIGHT)      &trans    &trans  &kp LG(LEFT)      &kp LG(UP)      &kp LG(DOWN)      &kp LG(RIGHT)
                                      &none           &trans             &trans    &trans  &trans            &none
            >;
        };

        desktops {
            // Arrows from Nav but with Ctrl-Gui/Shift-Ctrl-Gui - move around and move windows around the desktops      
            display-name = "dsk";
            bindings = <
  &none                &none                 &none                &none                  &trans    &trans  &none                  &none                &none                 &none
  &kp LS(LC(LG(LEFT))) &kp LS(LC(LG(DOWN)))  &kp LS(LC(LG(UP)))   &kp LS(LC(LG(RIGHT)))  &trans    &trans  &kp LS(LC(LG(LEFT)))   &kp LS(LC(LG(UP)))   &kp LS(LC(LG(DOWN)))  &kp LS(LC(LG(RIGHT)))
  &kp LC(LG(LEFT))     &kp LC(LG(DOWN))      &kp LC(LG(UP))       &kp LC(LG(RIGHT))      &trans    &trans  &kp LC(LG(LEFT))       &kp LC(LG(UP))       &kp LC(LG(DOWN))      &kp LC(LG(RIGHT))
                                             &none                &trans                 &trans    &trans  &trans                 &none
            >;
        };

        numbers {
  // |------------------------------                 -------------------------------
  // |     |     |     |     |     |                 |     |     |     |     |     |
  // |     |     |     |     |     |                 |     |     |     |     |     |
  // |------------------------------                 -------------------------------
  // |  6  |  5  |  4  |  3  |     |                 |     |  3  |  4  |  5  |  6  |
  // |     |     |     |     |     |                 |     |     |     |     |     |
  // |------------------------------                 -------------------------------
  // |  7  |  2  |  1  |  0  |     |                 |     |  0  |  1  |  2  |  7  |
  // |     |     |     |     |     |                 |     |     |     |     |     |
  // |------------------------------------     -------------------------------------
  //                   |     |  8  |  9  |     |  9  |  8  |     |
  //                   |     |     |     |     |     |     |     |
  //                   -------------------     -------------------
            display-name = "num";
            bindings = <
  &none   &none   &none   &none   &none                   &none   &none   &none   &none   &none
  &as N6  &as N5  &as N4  &as N3  &none                   &none   &as N3  &as N4  &as N5  &as N6
  &as N7  &as N2  &as N1  &as N0  &none                   &none   &as N0  &as N1  &as N2  &as N7
                          &none   &as N8  &as N9  &kp N9  &as N8  &none
            >;
        };

        bt {
  // |------------------------------                 -------------------------------
  // |     |     |     |     |     |                 |     |     |     |     |     |
  // |     |     |     |     |     |                 |     |     |     |     |     |
  // |------------------------------                 -------------------------------
  // | BT4 |BTPRV|BTNXT|BTCLR|     |                 |     |BTCLR|BTNXT|BTPRV| BT4 |
  // |     |     |     |     |     |                 |     |     |     |     |     |
  // |------------------------------                 -------------------------------
  // | BT0 | BT1 | BT2 | BT3 |     |                 |     | BT3 | BT2 | BT1 | BT0 |
  // |     |     |     |     |     |                 |     |     |     |     |     |
  // |------------------------------------     -------------------------------------
  //                   |     |     |     |     |     |     |     |
  //                   |     |     |     |     |     |     |     |
  //                   -------------------     -------------------
            display-name = "bt";
            bindings = <
  &none           &none         &none         &none         &none                   &none   &none         &none         &none         &none
  &bt BT_CLR      &bt BT_PRV    &bt BT_NXT    &bt BT_SEL 4  &none                   &none   &bt BT_SEL 4  &bt BT_NXT    &bt BT_PRV    &bt BT_CLR
  &bt BT_SEL 0    &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &none                   &none   &bt BT_SEL 3  &bt BT_SEL 2  &bt BT_SEL 1  &bt BT_SEL 0
                                              &none         &trans  &trans  &trans  &trans  &none
            >;
        };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        WIN {
            if-layers = <NAV DESK>;
            then-layer = <WIN>;
        };
    };


    };
};
