#define LOCOMBO(NAME, BINDINGS, KEYPOS) \
combo_l_##NAME { \
	timeout-ms = <COMBO_TIMEOUT>; \
	bindings = <BINDINGS>; \
	key-positions = <KEYPOS>; \
	layers = <COMBO_LAYERS>; \
}; \

#define LTCOMBO(NAME, INNER_BINDINGS, OUTER_BINDINGS, BOTH_BINDINGS, KEYPOS) \
combo_li_##NAME { \
	timeout-ms = <COMBO_TIMEOUT>; \
	bindings = <INNER_BINDINGS>; \
	key-positions = <KEYPOS LIT>; \
	layers = <COMBO_LAYERS>; \
}; \
combo_lo_##NAME { \
	timeout-ms = <COMBO_TIMEOUT>; \
	bindings = <OUTER_BINDINGS>; \
	key-positions = <KEYPOS LOT>; \
	layers = <COMBO_LAYERS>; \
}; \
combo_lb_##NAME { \
	timeout-ms = <COMBO_TIMEOUT>; \
	bindings = <BOTH_BINDINGS>; \
	key-positions = <KEYPOS LIT LOT>; \
	layers = <COMBO_LAYERS>; \
};

#define ROCOMBO(NAME, BINDINGS, KEYPOS) \
combo_r_##NAME { \
	timeout-ms = <COMBO_TIMEOUT>; \
	bindings = <BINDINGS>; \
	key-positions = <KEYPOS>; \
	layers = <COMBO_LAYERS>; \
}; \

#define RTCOMBO(NAME, INNER_BINDINGS, OUTER_BINDINGS, BOTH_BINDINGS, KEYPOS) \
combo_ri_##NAME { \
	timeout-ms = <COMBO_TIMEOUT>; \
	bindings = <INNER_BINDINGS>; \
	key-positions = <KEYPOS RIT>; \
	layers = <COMBO_LAYERS>; \
}; \
combo_ro_##NAME { \
	timeout-ms = <COMBO_TIMEOUT>; \
	bindings = <OUTER_BINDINGS>; \
	key-positions = <KEYPOS ROT>; \
	layers = <COMBO_LAYERS>; \
}; \
combo_rb_##NAME { \
	timeout-ms = <COMBO_TIMEOUT>; \
	bindings = <BOTH_BINDINGS>; \
	key-positions = <KEYPOS RIT ROT>; \
	layers = <COMBO_LAYERS>; \
};

#define TCOMBO(NAME, INNER_BINDINGS, OUTER_BINDINGS, BOTH_BINDINGS, LEFT_KEYPOS, RIGHT_KEYPOS) \
LTCOMBO(##NAME, ##INNER_BINDINGS, ##OUTER_BINDINGS, ##BOTH_BINDINGS, ##LEFT_KEYPOS) \
RTCOMBO(##NAME, ##INNER_BINDINGS, ##OUTER_BINDINGS, ##BOTH_BINDINGS, ##RIGHT_KEYPOS)

#define OCOMBO(NAME, BINDINGS, LEFT_KEYPOS, RIGHT_KEYPOS) \
LOCOMBO(##NAME, ##BINDINGS, ##LEFT_KEYPOS) \
ROCOMBO(##NAME, ##BINDINGS, ##RIGHT_KEYPOS)

#define FCOMBO(NAME, BINDINGS, INNER_BINDINGS, OUTER_BINDINGS, BOTH_BINDINGS, LEFT_KEYPOS, RIGHT_KEYPOS) \
OCOMBO(##NAME, ##BINDINGS, ##LEFT_KEYPOS, ##RIGHT_KEYPOS) \
TCOMBO(##NAME, ##INNER_BINDINGS, ##OUTER_BINDINGS, ##BOTH_BINDINGS, ##LEFT_KEYPOS, ##RIGHT_KEYPOS)

//** COMBOS **//
// 3 column diagrams do not include pinky (most combos)
LTCOMBO(sk_shift, &as N0, &kp LEFT, &as F10, HLP)
RTCOMBO(sk_shift, &as N0, &kp RIGHT, &as F10, HRP)
//| | | | |
//|x| | | |
//| | | | |
TCOMBO(N, &as N4, &kp DOWN, &as F4, HLR, HRR)
//| | | | |
//| |x| | |
//| | | | |
TCOMBO(E, &as N5, &kp UP, &as F5, HLM, HRM)
//| | | | |
//| | |x| |
//| | | | |
LTCOMBO(T, &as N6, &kp RIGHT, &as F6, HLI)
RTCOMBO(T, &as N6, &kp LEFT, &as F6, HRI)
//| | | | |
//| | | |x|
//| | | | |
LTCOMBO(sk_meta, &as N0, &kp HOME, &as F10, TLP)
RTCOMBO(sk_meta, &as N0, &kp END, &as F10, TRP)
//|x| | | |
//| | | | |
//| | | | |
TCOMBO(R, &as N7, &kp PG_DN, &as F8, TLR, TRR)
//| |x| | |
//| | | | |
//| | | | |
TCOMBO(O, &as N8, &kp PG_UP, &as F8, TLM, TRM)
//| | |x| |
//| | | | |
//| | | | |
LTCOMBO(D, &as N9, &kp END, &as F9, TLI)
RTCOMBO(D, &as N9, &kp HOME, &as F9, TRI)
//| | | |x|
//| | | | |
//| | | | |
LTCOMBO(H, &as N1, &kp LEFT, &as F1, BLR)
RTCOMBO(H, &as N1, &kp RIGHT, &as F1, BRR)
//| | | | |
//| | | | |
//| |x| | |
TCOMBO(A, &as N2, &kp DOWN, &as F2, BLM, BRM)
//| | | | |
//| | | | |
//| | |x| |
LTCOMBO(S, &as N3, &kp RIGHT, &as F3, BLI)
RTCOMBO(S, &as N3, &kp LEFT, &as F3, BRI)
//| | | | |
//| | | | |
//| | | |x|
FCOMBO(RALT,  &sk_ralt_lock, &as GT, &as LT, &bt BT_SEL 0, TLP HLP, TRP HRP)
//|x| | | |
//|x| | | |
//| | | | |
FCOMBO(LALT,  &sk_lalt_lock, &as RBRC, &as LBRC, &bt BT_SEL 1, TLR HLR, TRR HRR)
//| |x| | |
//| |x| | |
//| | | | |
FCOMBO(LCTRL, &sk_lctrl_lock, &as RBKT, &as LBKT, &bt BT_SEL 2, TLM HLM, TRM HRM)
//| | |x| |
//| | |x| |
//| | | | |
FCOMBO(LMETA, &sk_lmeta_lock, &as RPAR, &as LPAR, &bt BT_SEL 3, TLI HLI, TRI HRI)
//| | | |x|
//| | | |x|
//| | | | |
FCOMBO(L, &as l, &kp apos, &kp dqt, &kp grave, HLR BLR, HRR BRR)
//| | | | |
//| |x| | |
//| |x| | |
FCOMBO(I, &as i, &kp comma, &kp qmark, &kp semi, HLM BLM, HRM BRM)
//| | | | |
//| | |x| |
//| | |x| |
FCOMBO(C, &as c, &kp dot, &kp excl, &kp colon, HLI BLI, HRI BRI)
//| | | | |
//| | | |x|
//| | | |x|
FCOMBO(U, &as u, &kp minus, &kp under, &kp tilde, HLR HLM, HRR HRM)
//| | | | |
//| |x|x| |
//| | | | |
FCOMBO(M, &as m, &kp tilde, &kp grave, &as F15, HLR HLI, HRR HRI)
//| | | | |
//| |x| |x|
//| | | | |
FCOMBO(G, &as g, &kp minus, &kp under, &as F16, HLR HLM, HRM HRI)
//| | | | |
//| | |x|x|
//| | | | |
FCOMBO(P, &as p, &kp at, &kp asterisk, &as F17, BLR BLM, BRR BRM)
//| | | | |
//| | | | |
//| |x|x| |
FCOMBO(W, &as w, &kp equal, &kp plus, &as F18, BLR BLI, BRR BRI)
//| | | | |
//| | | | |
//| |x| |x|
FCOMBO(F, &as f, &kp amps, &kp pipe, &as F19, BLM BLI, BRM BRI)
//| | | | |
//| | | | |
//| | |x|x|
FCOMBO(Y, &as y, &kp , &kp under, &kp tilde, TLR TLM, TRR TRM)
//| |x|x| |
//| | | | |
//| | | | |
FCOMBO(V, &as v, &kp tilde, &kp grave, &as F15, TLR TLI, TRR TRI)
//| |x| |x|
//| | | | |
//| | | | |
FCOMBO(K, &as k, &kp minus, &kp under, &as F16, TLM TLI, TRM TRI)
//| | |x|x|
//| | | | |
//| | | | |
FCOMBO(J, &as j, &kp , &kp under, &kp tilde, HLR HLM BLR BLM, HRR HRM BRR BRM)
//| | | | |
//| |x|x| |
//| |x|x| |
FCOMBO(X, &as x, &kp tilde, &kp grave, &as F15, HLR HLI BLR BLI, HRR HRI BRR BRI)
//| | | | |
//| |x| |x|
//| |x| |x|
FCOMBO(B, &as b, &kp minus, &kp under, &as F16, HLM HLI BLM BLI, HRM HRI BRM BRI)
//| | | | |
//| | |x|x|
//| | |x|x|
FCOMBO(Q, &as q, &kp minus, &kp under, &as F16, TLR TLM TLI, TRR TRM TRI)
//| |x|x|x|
//| | | | |
//| | | | |
FCOMBO(BSPC, &kp bspc, &kp del, &kp del, &kp del, HLR HLM HLI, HRR HRM HRI)
//| | | | |
//| |x|x|x|
//| | | | |
FCOMBO(RET, &kp ret, &kp ret, &kp ret, &kp ret, BLR BLM BLI, BRR BRM BRI)
//| | | | |
//| | | | |
//| |x|x|x|
FCOMBO(Z, &as z, &kp minus, &kp under, &as F16, HLR HLM HLI BLR BLM BLI, HRR HRM HRI BRR BRM BRI)
//| | | | |
//| |x|x|x|
//| |x|x|x|

